@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap')

$heading-font-family: 'Permanent Marker', cursive
$main-font-family: Arial, sans-serif

// DESKTOP FONT SIZES
$df1: 3rem //48px
$df2: 1.5rem //24px
$df3: 1.0625rem //17px
$df4: 0.75rem //12px

// MOBILE FONT SIZES
$mf1: 2rem //32px
$mf2: 1.3125rem //21px
$mf3: 1.0625rem //17px
$mf4: 0.75rem //12px

// COLORS
$main-bg-color: #67188C
$main-font-color: #FFFFFF
$logo-color: #FFFF00

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $main-font-family
  font-size: $mf3
  color: $main-font-color
