// PHONE
.not-for-tablets
  display: none

h1, h2, p
  color: $main-font-color

h1
  font-size: $mf1
  font-weight: 700

h2
  font-size: $mf2

body
  background-color: #652e73

.navbar-toggler, .navbar-toggler:focus
  border: none
  outline: none

#logo-text
  color: yellow

#dream-of-you
  width: 300px
  height: 300px
  
#thaingar-picture
  width: 300px
  height: 300px
  border-radius: 500px;

// TABLET
@media (min-width: 43.75em) and (max-width: 64em)
  // Block contents on Tablets
  body :not(.not-for-tablets) 
    display: none
  
  // Say that this website is not for Tablets
  .not-for-tablets
    display: inline

// DESKTOP
@media screen and (min-width: 64em)
  h1
    font-size: $df1

  h2
    font-size: $df2
  
  #dream-of-you-div
    justify-content: space-evenly
  
  #dream-of-you
    width: 400px
    height: 400px

  #thaingar-picture
    width: 400px
    height: 400px

