body
  background-color: $main-bg-color

#logo,
h1
  font-family: $heading-font-family
  font-weight: 700
  text-transform: uppercase

#logo
  color: $logo-color

h1
  font-size: $mf1

h2
  font-size: $mf2

.navbar-toggler,
.navbar-toggler:focus
  outline: none
  border: none

#dream-of-you-img,
#thaingar-img
  width: 300px

// DESKTOP
@media screen and (min-width: 64em)
  h1
    font-size: $df1

  h2
    font-size: $df2

  #dream-of-you-img,
  #thaingar-img
    width: 400px
